@use "../base/definition" as *;


//top

.top_inner {
    position: relative;
}

.top_picture {
    padding-top: 51%;

    @include mq('sp') {
        padding-top: 158%;
    }
}

.picture_first {
    background: url(../img/img-front-page/img-mv01_pc@2x.png) top right / 87% no-repeat;

    @include mq('sp') {
        background: url(../img/img-front-page/img-mv01_sp@2x.png) top right / 88% no-repeat;
    }
}

.picture_second {
    background: url(../img/img-front-page/img-mv02_pc@2x.png) top right / 87% no-repeat;

    @include mq('sp') {
        background: url(../img/img-front-page/img-mv02_sp@2x.png) top right / 88% no-repeat;
    }
}

.picture_third {
    background: url(../img/img-front-page/img-mv03_pc@2x.png) top right / 87% no-repeat;

    @include mq('sp') {
        background: url(../img/img-front-page/img-mv03_sp@2x.png) top right / 88% no-repeat;
    }
}


.top_message {
    position: absolute;
    left: 20px;
    bottom: 42px;
    // transform: translateY(-50%);
    line-height: 1;
    z-index: 3;

    @include mq('sp') {
        bottom: 20px;
    }


}

.top_message_title,
.top_message_title_br {
    font-size: 4rem;
    font-weight: bold;
    color: $color-main;
    background-color: $color-bg;
    display: inline-block;
    padding: 2px 0px;

    @include mq('sp') {
        font-size: 3rem;
    }
}

.top_message_title {
    margin-bottom: 14px;

    @include mq('sp') {
        margin-bottom: 10px;
    }
}

.top_message_title_br {
    margin-bottom: 14px;
    
    @include mq('sp') {
        margin-bottom: 8px;
    }

}

.top_message_subtitle {
    display: inline-block;
    font-size: 1.5rem;
    background: $color-main;
    color: #FFFFFF;
    padding: 6px 0px 2px;

    @include mq('sp') {
        font-size: 1rem;   
        margin-top: 8px; 
    }
}


// about us

.about {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 120px 0px;
    background: linear-gradient(transparent 40.5%, #edf3f8 40.5%);
    transform: skewY(10deg);

    @include mq('sp') {
        padding-bottom: 100px;
        margin-top: 70px;
        background: linear-gradient(transparent 27%, #edf3f8 27%);

    }
}

.about_bg_wrapper {
    position: relative;
    padding-top: 90px;
    transform: skewY(-10deg);
}

.about_bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 70vw;
    max-height: 800px;
    background: url(../img/img-front-page/bg-company@2x.png) center / cover no-repeat;
    display: block;
    z-index: -1;

    @include mq('sp') {
        width: 84%;
        height: 100vw;
        right: 0;
        bottom: 130px;
        top: 0;
    }
    
}

.about_bg_wrapper_sp {
    position: relative;
    transform: skewY(0deg);
    z-index: -1;
    padding-top: 45px;
}

.about_bg_sp {
    position: absolute;
    right: -20px;
    top: 0;
    width: 84%;
    height: 96.53333vw;
    max-height: 550px;
    background: url(../img/img-front-page/bg-company@2x.png) center / cover no-repeat;
    display: block;
}

.about_inner {
    transform: skewY(-10deg);
}


.about_heading {
    display: flex;
    align-items: center;

    @include mq('sp') {
        display: block;
    }
}

.about_heading_left {
    margin-right: auto;


}


.about_subheading {
    display: flex;
    align-items: center;
    margin-top: 20px;

    @include mq('sp') {
        display: block;
        margin-top: 60px;
    }
}

.about_subheading_left {
    width: 39%;
    padding-right: 40px;

    @include mq('sp') {
        width: 100%; 
        padding-right: 0;  
        font-size: 14px; 
    }
}

.about_subheading_right {
    width: 61%;

    @include mq('sp') {
        width: 100%;   
        margin-top: 25px; 
        position: relative;
    }
}

.about_bottom_view {
    margin-top: 50px;
    text-align: right;
}




//service
.service {
    margin-top: 160px;
    margin-bottom: 30px;
    padding-bottom: 120px;
    background: linear-gradient(transparent 50%, #edf3f8 50%);
    transform: skewY(10deg);

    @include mq('sp') {
        margin-top: 100px;
        padding-bottom: 100px;
    }
}

.service_inner {
    transform: skewY(-10deg);
}

.service_heading {
    display: flex;
    align-items: center;

    @include mq('sp') {
        display: block;
    }
}

.service_heading_left {
    margin-right: auto;
}

.service_contents {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;

    @include mq('sp') {
        display: block;
        margin-top: 60px;
    }

}

.service_content {

    @include mq('pc') {

        width: calc(33.3% - 70px * 2 / 3);

        &:not(:nth-child(3n + 1)) {
            margin-left: 70px;
        }

        &:nth-child(2) {
            padding-top: 55px;
        }
    
        &:nth-child(3) {
            padding-top: 110px;
        }
    }

    @include mq('tab') {

        width: calc(33.3% - 70px * 2 / 3);

        &:not(:nth-child(3n + 1)) {
            margin-left: 70px;
        }

        &:nth-child(2) {
            padding-top: 55px;
        }
    
        &:nth-child(3) {
            padding-top: 110px;
        }
    }

    @include mq('sp') {

        width: 100%;
        padding-left: 14px;

        &:not(:nth-child(3n + 1)) {
            margin-left: 0px;
        }

        &:nth-child(2) {
            padding-top: 0px;
        }
    
        &:nth-child(3) {
            padding-top: 0px;
        }

        &:not(:first-child) {
            margin-top: 60px;
        }
    }



}

.service_content_img {
    position: relative;
}

.service_content_img_number {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    width: 102px;
    height: auto;
}

.service_content_img_title_text {
    display: inline-block;
    background: #FFFFFF;

    &:nth-child(3) {
        margin-top: 8px;
    }
}

.service_content_img_title {
    position: absolute;
    bottom: 28px;
    left: -26px;
    // transform: translateY(-50%);
    color: $color-main;
    font-size: 24px;
    font-weight: bold;

    @include mq('sp') {
        left: -14px;
    }


}

.service_content_explain {
    font-size: 14px;
    margin-top: 16px;
}

.service_bottom_view {
    margin-top: 50px;
    text-align: right;
}



//case
.case {
    background: url(../img/img-front-page/bg-case@2x.png) no-repeat top center / cover;
    position: relative;
    padding-top: 80px;
    padding-bottom: 100px;

    @include mq('sp') {
        padding-top: 60px;
        padding-bottom: 60px;
        margin-top: 100px;
    }
}

.case_heading {
    display: flex;
    align-items: center;

    @include mq('sp') {
        display: block;
    }
}

.case_heading_left {
    margin-right: auto;
}

.case_contents {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;

    @include mq('sp') {
        display: block;
        margin-top: 40px;
    }
}

.case_content {
    @include mq('pc') {
        width: calc(33.3% - 70px * 2 / 3);

        &:not(:nth-child(3n + 1)) {
            margin-left: 70px;
        }

        &:nth-child(n + 4) {
            margin-top: 70px;
        }
    }

    @include mq('tab') {
        width: calc(50% - 70px / 2);

        &:not(:nth-child(2n + 1)) {
            margin-left: 70px;
        }

        &:nth-child(n + 3) {
            margin-top: 70px;
        }
    }

    @include mq('sp') {
        width: 100%;
        &:not(:first-child) {
            margin-top: 40px;
        }

        &:not(:nth-child(3n + 1)) {
            margin-left: 0px;
        }

        &:nth-child(n + 4) {
            margin-top: 40px;
        }
    }
}

.case_content_link {

    &:hover {
        .case_content_service_link {
            padding-right: 0px;
        
            svg {
                fill: $color-accent-ylellow;
            }
        }
    }
}

.case_content_company {
    display: inline-block;
    margin-top: 16px;
    font-weight: bold;

    @include mq('sp') {
        margin-top: 12px;
    }
}

.case_content_service {
    margin-top: 18px;
    display: flex;
    align-items: center;

    @include mq('sp') {
        margin-top: 10px;
    }
}

.case_content_service_link {
    padding-right: 8px;
    transition: all 0.3s ease 0s;
    padding-top: 8px;

    svg {
        fill: #FFFFFF;
    }

    @include mq('sp') {
        padding-right: 0;
    }
}


.case_content_service_text {
    display: inline-block;
    border: 2px solid #FFFFFF;
    padding: 4px 10px;
    margin-right: auto;

    @include mq('sp') {
        font-size: 14px;
        padding: 2px 6px;
        border: 1px solid #FFFFFF;

    }
}

.case_bottom_view {
    margin-top: 50px;
    text-align: right;
}





//news

.news {
    margin-top: 150px;
    padding-bottom: 150px;
    background: linear-gradient(transparent 50%, #edf3f8 50%);
    transform: skewY(10deg);

    @include mq('sp') {
        margin-top: 60px;
        padding-bottom: 80px;
        margin-bottom: 100px;
        background: linear-gradient(transparent 20%, #edf3f8 20%);

    }
    
}

.news_inner {
    transform: skewY(-10deg);
}

.news_heading {
    display: flex;
    align-items: center;

    @include mq('sp') {
        display: block;
    }
}

.news_heading_left {
    margin-right: auto;
}

.news_contents {
    margin: 80px auto 0px;
    width: 100%;
    max-width: 770px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
    background-color: #FFFFFF;

    @include mq('sp') {
        margin-top: 50px;
    }

}

.news_content {
    padding: 40px;

    @include mq('sp') {
        padding: 40px 20px;
    }
}

.news_content_item {
    padding-bottom: 28px;
    border-bottom: 1px solid #DDDDDD;

    @include mq('sp') {
        padding-bottom: 22px;
    }

    &:not(:first-child) {
        margin-top: 20px;

        @include mq('sp') {
            margin-top: 14px;
        }
    }
}

.news_content_item_heading {
    display: flex;
    align-items: center;
}

.news_content_item_heading_left {
    display: inline-block;
    padding: 2px 16px;
    border: 1px solid #E61264;
    color: #E61264;
    margin-right: auto;
    font-size: 14px;
}

.news_content_item_heading_right {
    display: inline-block;
    color: #888888;
    font-size: 14px;
}

.news_content_item_title {
    margin-top: 14px;
}

.news_content_item_title_text {
    font-weight: bold;
}

.news_bottom_view {
    @include mq('sp') {
        text-align: right;
        margin-top: 40px;
    }


}
